- set_fact:
    my_filename: "{{ encrypted_path | replace('.enc', '') }}"

- name: "Check file: {{ encrypted_path | replace(dotfiles_home, '.') }}"
  stat:
    path: "{{ my_filename }}"
  register: my_file

- when: my_file.stat.exists
  block:
    - set_fact:
        my_file_checksum: "{{ lookup('file', my_filename) | checksum }}"

    - name: Checksum encrypted file
      shell: age -i "${AGE_KEY_FILE:-$HOME/.config/age/keys.txt}" -d '{{ encrypted_path }}'
      register: encrypted_file_contents
      changed_when: (encrypted_file_contents.stdout | checksum) not in my_file_checksum

    - name: Re-encrypt file
      when: (encrypted_file_contents.stdout | checksum) not in my_file_checksum
      shell: age -R "${AGE_RECIPIENTS_FILE:-$HOME/.config/age/recipients.txt}" -o '{{ encrypted_path }}' -e '{{ my_filename }}'

- name: Decrypt file
  when: not my_file.stat.exists
  shell: age -i "${AGE_KEY_FILE:-$HOME/.config/age/keys.txt}" -o '{{ my_filename }}' -d '{{ encrypted_path }}'

- name: Update permissions for decrypted file
  file:
    name: "{{ my_filename }}"
    mode: 0400
