- name: Check encryption key
  check_mode: true
  stat:
    path: "{{ config_home }}/age/keys.txt"
  register: age_key

- name: Download encryption key
  when: not age_key.stat.exists
  block:
    - name: Decrypt service token (please enter password)
      command:
        cmd: age -d "{{ role_path }}/files/doppler_service_token"
      register: service_token

    - name: Get dotfiles key from Doppler
      command:
        cmd: doppler secrets get DOTFILES_KEY --plain --token {{ service_token.stdout }}
      register: encrypted_dotfiles_key

    - name: Decrypt downloaded key
      command:
        cmd: age -d
        stdin: "{{ encrypted_dotfiles_key.stdout }}"
      register: dotfiles_key

    - name: Save encryption key
      copy:
        content: "{{ dotfiles_key.stdout }}"
        dest: "{{ config_home }}/age/keys.txt"
        mode: 400

- name: Decrypt individual files
- block:
    - find:
        recurse: true
        paths: "{{ dotfiles_home }}/roles"
        patterns: '*.enc'
        file_type: file
      register: encrypted_files

    - include_tasks: decrypt_file.yaml
      loop: "{{ encrypted_files.files | map(attribute='path') | list }}"
      loop_control:
        loop_var: encrypted_path

- name: Decrypt entire directories
  block:
    - find:
        recurse: true
        paths: "{{ dotfiles_home }}/roles"
        patterns: '*.enc'
        file_type: directory
      register: encrypted_dirs

    - name: Decrypt each directory
      include_tasks: decrypt_dir.yaml
      loop: "{{ encrypted_dirs.files | map(attribute='path') | list }}"
      loop_control:
        loop_var: encrypted_dir_path
