<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>25C6088B-B3B6-4676-802C-0005342A1D2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E01D7F6-7BCE-4DC6-813B-E4C09F32F3DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C38C1073-15B4-4AA8-A171-A0AD6275532E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25C6088B-B3B6-4676-802C-0005342A1D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonathan Wren</string>
	<key>description</key>
	<string>Open Samba paths in Finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SMB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3E01D7F6-7BCE-4DC6-813B-E4C09F32F3DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>#get the query
q='{query}'

#replace \ with /
q=${q//\\/\/}

#open the folder
if [[ ! $q =~ ^smb: ]] ; then
	q="smb:$q"
fi

open "$q"
echo -n "$q"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25C6088B-B3B6-4676-802C-0005342A1D2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>smb</string>
				<key>subtext</key>
				<string>Open a network path</string>
				<key>text</key>
				<string>Samba</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C38C1073-15B4-4AA8-A171-A0AD6275532E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25C6088B-B3B6-4676-802C-0005342A1D2E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>3E01D7F6-7BCE-4DC6-813B-E4C09F32F3DE</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>C38C1073-15B4-4AA8-A171-A0AD6275532E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>nowandwren.com</string>
</dict>
</plist>
