#--------------------------------------------------------------------------------------------------#
# Min     Hour    Day     Month   Weekday  Command                                                 #
#--------------------------------------------------------------------------------------------------#
  */60    *       *       *       *        PATH="$PATH:/usr/local/bin:$HOME/.local/bin" run-backups

