<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.custom.5CA4BD5E-7257-4C03-8D32-AC2219AAF3B0.fallback</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showContacts</key>
	<false/>
</dict>
</plist>
