Alfred.alfredpreferences/preferences/local/*
Alfred.alfredpreferences/preferences/remote/*
Alfred.alfredpreferences/remote/*
Alfred.alfredpreferences/snippets/*
Alfred.alfredpreferences/workflows/*
Alfred.alfredpreferences/preferences/features/websearch/*
Alfred.alfredpreferences/clipboard/*
