- git:
    ~/Dotfiles:
        description: Dotfiles repo
        url: https://github.com/wren/dotfiles
        method: clone
        branch: main

- clean:
    - '~'
    - '~/.config'
    - '~/.local/bin'


- shell:
    - description: Run individual bundles through dotbot
      command: |-
        set +e # if any steps fail, then the remaining steps should still happen
        set -x

        my_bundles=(
            git
        )

        for bundle in $my_bundles; do
          file="bundles/$bundle/bundle-config.yaml"
          print -P "\n\n%F{006}───── ${(U)bundle} ─────%f"
          ${=DOTBOT_CMD} -d $(dirname "$file") -c <(cat $DOTBOT_DEFAULTS $file) "$@"
        done


