<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.robert-arellano.lorem-ipsum</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>202E3500-A862-47F7-BCD0-9204E53A9717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>31015D5A-9035-4C32-B019-3126F0691328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>43EDB752-DB87-4220-953B-20D708536C86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>49FB37ED-5349-4A41-93A4-3823D8844ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BA12FC8-CFC9-43EE-A7A7-046D8A99CCF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31015D5A-9035-4C32-B019-3126F0691328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2330D53-D5F2-47D7-B821-44094B51C671</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49FB37ED-5349-4A41-93A4-3823D8844ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robert Arellano</string>
	<key>description</key>
	<string>Lorem Ipsum Generator via freeformatter.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lorem Ipsum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "p"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum paragraphs</string>
				<key>text</key>
				<string>Paragraph</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>202E3500-A862-47F7-BCD0-9204E53A9717</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "s"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49FB37ED-5349-4A41-93A4-3823D8844ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum sentences</string>
				<key>text</key>
				<string>Sentence</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2330D53-D5F2-47D7-B821-44094B51C671</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "l"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum list items</string>
				<key>text</key>
				<string>List</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43EDB752-DB87-4220-953B-20D708536C86</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "w"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>31015D5A-9035-4C32-B019-3126F0691328</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum words</string>
				<key>text</key>
				<string>Word</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6BA12FC8-CFC9-43EE-A7A7-046D8A99CCF2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>202E3500-A862-47F7-BCD0-9204E53A9717</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>31015D5A-9035-4C32-B019-3126F0691328</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>43EDB752-DB87-4220-953B-20D708536C86</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>49FB37ED-5349-4A41-93A4-3823D8844ED6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6BA12FC8-CFC9-43EE-A7A7-046D8A99CCF2</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C2330D53-D5F2-47D7-B821-44094B51C671</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D0A818EC-E8AD-46B3-84EA-0638C897158B</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>robert-arellano.com</string>
</dict>
</plist>
