- name: Install jrnl
  community.general.pipx:
    name: jrnl

- name: Create config dir
  file:
    name: "{{ config_home }}/jrnl"
    state: directory

- name: Link jrnl config
  loop:
    - jrnl.yaml
    - templates
  file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "{{ config_home }}/jrnl/{{ item }}"
    state: link
    force: true
