# Set theme
--theme="OneHalfDark"
# --theme="TwoDark"

# Show line numbers, Git modifications and file header (but no grid)
--style="numbers,changes,header"

# Use colorr (always|never|auto)
--color=always

# Syntax mappings
--map-syntax "*.ino:C++"
--map-syntax "poetry.lock:TOML"
--map-syntax "bat.config:Bourne Again Shell (bash)"
--map-syntax "**/*config/zsh/**:Bourne Again Shell (bash)"
