- defaults:
    link:
        relink: true
        ignore-missing: true
        force: true
        create: true
        quiet: true
        glob: true
    shell:
        stdin: false
        stdout: true
        stderr: true
        quiet: true

- create:
    - ~/.config/bat
    - ~/.config/batpipe

- shell:
    - description: Checking Bat installation
      command: |-
        command -v bat &> /dev/null && return
        brew install bat bat-extras

- link:
    ~/.config/bat:
        path: 'bat.config'
    ~/.config/batpipe/viewers.d:
        path: 'viewers.d'
