# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[ templates ]
defer = { value = 'zsh-defer source "{{ file }}"', each = true }
path = 'path=( "{{ dir }}" $path )'
path-bin = 'path=( "{{ dir }}/bin" $path )'
direnv-ohmytmux = 'export TMUX_OHMYTMUX_CONFIG_DIR="{{ dir }}"'
noop = ':'
make = '''
if ! command -v {{ name }} >/dev/null; then
  (
    cd "{{ dir }}"
    make {{ name }}
    ln -fs {{ dir }}/{{ name }} ~/.local/bin/
  ) >/dev/null
fi
'''
build = '''
if ! command -v {{ name }} >/dev/null; then
  (
    cd "{{dir}}"
    ./build.sh --manuals
  ) >/dev/null
fi
'''
lessopen = 'export LESSOPEN="|{{ dir }}/bin/{{name}} %s"'

[ plugins ]

# 2-3ms
[ plugins.zsh-defer ]
github = "romkatv/zsh-defer"

# 8ms
# fzf-tab needs to be loaded after compinit, but before plugins which will wrap
# widgets, such as zsh-autosuggestions or fast-syntax-highlighting!
[ plugins.fzf-tab ]
github = 'aloxaf/fzf-tab'
apply = [ 'defer' ]

# 5-6ms
[ plugins.ohmyzsh ]
github = 'ohmyzsh/ohmyzsh'
use = [ 'lib/clipboard.zsh' ]
apply = [ 'defer' ]

# 7-8ms
# doesn't support defer
[ plugins.powerlevel10k ]
github = 'romkatv/powerlevel10k'

# 0-1ms
[ plugins.zsh-completions ]
github = 'zsh-users/zsh-completions'
apply = [ 'defer' ]

# 6ms
[ plugins.zsh-autosuggestions ]
github = 'zsh-users/zsh-autosuggestions'
apply = [ 'defer' ]

# 24ms
# breaks with defer
[ plugins.zsh-syntax-highlighting ]
github = "zsh-users/zsh-syntax-highlighting"

# 0ms
[ plugins.zsh-autosuggestions-config ]
inline = '''
export ZSH_AUTOSUGGEST_STRATEGY=(match_prev_cmd history completion)
export ZSH_AUTOSUGGEST_USE_ASYNC=1
export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20
export ZSH_AUTOSUGGEST_MANUAL_REBIND=1
'''

# 22ms (noop fixes it)
[ plugins.forgit ]
github = 'wfxr/forgit'
apply = ['noop']

# 0ms
[ plugins.forgit-config ]
inline = '''
FORGIT_STASH_FZF_OPTS='--bind="ctrl-x:reload(git stash drop $(cut -d: -f1 <<<{}) 1>/dev/null && git stash list)"'
'''

# 11-12ms
[ plugins.zsh-history-substring-search ]
github = 'zsh-users/zsh-history-substring-search'
apply = [ 'defer' ]

# 22ms
[ plugins.zsh-vim-mode ]
github = 'softmoth/zsh-vim-mode'
# defer makes the initial cursor not have the correct style (since it's drawn
# before this loads). Maybe worth it?
# apply = [ 'defer' ]

# 0ms
[ plugins.zsh-vim-mode-config ]
inline = '''
zsh-defer vim-mode-bindkey vicmd -- beginning-of-line  H
zsh-defer vim-mode-bindkey vicmd -- end-of-line        L
zsh-defer vim-mode-bindkey vicmd -- run-help           K
zsh-defer vim-mode-bindkey vicmd -- fzf-history-widget '/'
'''

# 12ms
[  plugins.zsh-system-clipboard  ]
github = 'kutsan/zsh-system-clipboard'
apply = [ 'defer' ]

# 0ms
[ plugins.ohmytmux ]
github = 'wren/.tmux'
use = [ '.tmux.conf' ]
apply = [ 'direnv-ohmytmux' ]

[ plugins.asdf-nix ]
local = '~/.nix-profile/share/asdf-vm/lib'
use = [ 'asdf.sh' ]
apply = [ 'defer' ]

[ plugins.fzf-nix ]
local = '~/.nix-profile/share/fzf'
use = [ '*.zsh' ]
apply = [ 'defer' ]

[ plugins.direnv-nix ]
inline = 'zsh-defer eval "$(direnv hook zsh)"'

[ plugins.lolcat ]
github = 'jaseg/lolcat'
apply = [ 'make' ]

[ plugins.batpipe ]
github = 'eth-p/bat-extras'
apply = [ 'path-bin', 'build', 'lessopen' ]

