# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[ templates ]
defer = { value = 'zsh-defer source "{{ file }}"', each = true }
path = 'path=( $path "{{ dir }}" )'
path-bin = 'path=( $path "{{ dir }}/bin" )'
front-path = 'path=( "{{ dir }}" $path )'
front-path-bin = 'path=( $path "{{ dir }}/bin" )'
noop = ':'

[ plugins ]

[ plugins.asdf ]
github = "asdf-vm/asdf.git"
use = [ 'asdf.sh', 'completions/asdf.bash' ]

[ plugins.zsh-defer ]
github = "romkatv/zsh-defer"

[ plugins.ohmyzsh ]
github = 'ohmyzsh/ohmyzsh'
use = [
  'plugins/asdf/*.zsh',
  'plugins/pyenv/*.zsh',
  'lib/clipboard.zsh',
]

[ plugins.powerlevel10k ]
github = 'romkatv/powerlevel10k'

[ plugins.zsh-completions ]
github = 'zsh-users/zsh-completions'

[ plugins.zsh-autosuggestions ]
github = 'zsh-users/zsh-autosuggestions'

[ plugins.zsh-autosuggestions-config ]
inline = '''
export ZSH_AUTOSUGGEST_STRATEGY=(match_prev_cmd history completion)
export ZSH_AUTOSUGGEST_USE_ASYNC=1
export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20
export ZSH_AUTOSUGGEST_MANUAL_REBIND=1
'''

[ plugins.forgit ]
github = 'wfxr/forgit'

[ plugins.forgit-config ]
inline = '''
FORGIT_STASH_FZF_OPTS='--bind="ctrl-x:reload(git stash drop $(cut -d: -f1 <<<{}) 1>/dev/null && git stash list)"'
'''

[ plugins.zsh-syntax-highlighting ]
github = "zsh-users/zsh-syntax-highlighting"

[ plugins.zsh-history-substring-search ]
github = 'zsh-users/zsh-history-substring-search'

[ plugins.zsh-vim-mode ]
github = 'softmoth/zsh-vim-mode'

[ plugins.zsh-vim-mode-config ]
inline = '''
vim-mode-bindkey vicmd -- beginning-of-line H
vim-mode-bindkey vicmd -- end-of-line       L
vim-mode-bindkey vicmd -- run-help          K
'''

[  plugins.zsh-system-clipboard  ]
github = 'kutsan/zsh-system-clipboard'

[  plugins.fzf  ]
github = 'junegunn/fzf'
apply = [ 'path-bin', 'source' ]

[ plugins.fzf-tab ]
github = 'aloxaf/fzf-tab'
apply = ["defer"]

[ plugins.fzf-zsh-widget ]
inline = '''
# custom fzf-history widget (dedupes entries)
fzf-history-widget() {
  local selected num
  setopt localoptions noglobsubst noposixbuiltins pipefail 2> /dev/null
  selected=( $(fc -rl 1 |
    sort -k2 -k1rn | uniq -f 1 | sort -r -n |
    FZF_DEFAULT_OPTS="--height ${FZF_TMUX_HEIGHT:-40%} $FZF_DEFAULT_OPTS -n2..,.. --tiebreak=index --bind=ctrl-r:toggle-sort $FZF_CTRL_R_OPTS --query=${(qqq)LBUFFER}${RBUFFER} +m" $(__fzfcmd)) )
  local ret=$?
  if [ -n "$selected" ]; then
    num=$selected[1]
    if [ -n "$num" ]; then
      zle vi-fetch-history -n $num
    fi
  fi
  zle reset-prompt
  return $ret
}
'''
