[alias]
  a = add
  ap = add -p
  au = update-index --assume-unchanged
  bi = bisect start
  bib = bisect bad
  big = bisect good
  bir = bisect reset
  bis = bisect skip
  br = branch -v
  bra = branch -av
  brn = "!git config branch.$(git symbolic-ref HEAD|sed \"s/refs\\/heads\\///\").note $( if [ $# -gt 0 ]; then $1; fi)"
  brr = branch -rv
  c = clone
  ca = commit -a
  cam = commit -a -m
  ci = commit
  cim = commit -m
  co = checkout
  conflicts = diff --name-only --diff-filter=U
  cp = cherry-pick
  dc = diff --cached
  dci = dcommit
  df = diff --word-diff=color
  dfc = diff --cached --word-diff=color
  dfs = diff --shortstat --numstat
  dft = difftool
  dfw = diff --word-diff=color -w
  ds = describe
  f = fetch
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%C(dim white) %s %Creset%C(cyan)%cd %Creset%C(green)by %aN%Creset' --abbrev-commit --date=relative
  logs = log --stat --graph --decorate --use-mailmap
  ls = ls-files
  mg = merge
  mgs = merge --squash
  mgt = mergetool
  pl = pull
  pls = "!func(){ printf -- '--- Pull ---\n' && git pull && printf '\n--- Push ---\n' && git push; }; func"
  ps = push
  pst = push --tags
  r = reset
  rb = rebase
  rem = remote -v
  rh = reset --hard
  rs = reset --soft
  s = stash
  sb = submodule
  sbst = submodule status
  sc = svn clone --prefix=origin/
  sd = svn dcommit
  sh = show --word-diff=color
  sl = stash list
  sp = stash pop
  sr = svn rebase
  ss = stash save
  st = status -sb
  sur = submodule update --recursive
  suri = submodule update --recursive --init
  t = tag -a
  todo = grep -in "@todo"
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  plain = normal
  commit = yellow
  whitespace = reverse red
[color "status"]
  added = yellow reverse
  changed = green
  untracked = cyan
  header = white dim
  updated = yellow
  nobranch = red bold
[mergetool "diff3"]
  trustExitCode = true
[merge]
  tool = kdiff3
[diff "image"]
  textconv = /usr/local/bin/exiftool -@ ~/dotfiles/git/exiftool.txt
[receive]
  denyCurrentBranch = ignore
[core]
  autocrlf = input
  excludesfile = ~/dotfiles/git/global.gitignore
  attributesfile = ~/dotfiles/git/global.gitattributes
[log]
  date = local
[push]
  default = simple
[mergetool]
  keepBackup = false
[mailmap]
  file = ~/Dotfiles/Git/git.mailmap
[diff "plist"]
  textconv = plutil -convert xml1 -r -o -
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
