[include]
  path = ~/Dotfiles/Git/config/user
  path = ~/Dotfiles/Git/config/aliases
  path = ~/Dotfiles/Git/config/color
  path = ~/Dotfiles/Git/config/core
  path = ~/Dotfiles/Git/config/diff-and-merge
  path = ~/Dotfiles/Git/config/diff-so-fancy
  path = ~/Dotfiles/Git/config/lfs
  path = ~/Dotfiles/Git/config/misc


# Everything below here has been added since you last checked on your Git
# config. I recommend sorting through, and if they are lines you want to
# keep, sort them into one of the files at ~/Dotfiles/Git/config

