[include]
  path = ~/Dotfiles/Git/config/user
  path = ~/Dotfiles/Git/config/aliases
  path = ~/Dotfiles/Git/config/color
  path = ~/Dotfiles/Git/config/core
  path = ~/Dotfiles/Git/config/diff-and-merge
  path = ~/Dotfiles/Git/config/diff-so-fancy
  path = ~/Dotfiles/Git/config/format
  path = ~/Dotfiles/Git/config/lfs
  path = ~/Dotfiles/Git/config/misc

  # If the "extra" file exists, it'll override anything in the above files.
  # Use this to add any personal settings that you don't want committed in a
  # repo (like your name and email).
  path = ~/Dotfiles/Git/config/extra


# Everything below here has been added since you last checked on your Git
# config. I recommend looking through these, sorting them into one of the
# files in ~/Dotfiles/Git/config if you want to keep them.

