# @see https://www.nano-editor.org/dist/v2.7/nanorc.5.html
set tabsize 2
set tabstospaces
# set mouse
set smooth
set speller "aspell -x -c"

# Bind some keyboard shortcuts
bind M-B prevword main
bind M-F nextword main
bind M-5 cutwordleft main
bind ^F whereis main
bind M-E copytext main
bind ^Z undo main
bind ^Y redo main

# Syntax highlighting
include "~/Dotfiles/Apps/Nano/apacheconf.nanorc"
include "~/Dotfiles/Apps/Nano/arduino.nanorc"
include "~/Dotfiles/Apps/Nano/asciidoc.nanorc"
include "~/Dotfiles/Apps/Nano/asm.nanorc"
include "~/Dotfiles/Apps/Nano/awk.nanorc"
include "~/Dotfiles/Apps/Nano/c.nanorc"
include "~/Dotfiles/Apps/Nano/clojure.nanorc"
include "~/Dotfiles/Apps/Nano/cmake.nanorc"
include "~/Dotfiles/Apps/Nano/coffeescript.nanorc"
include "~/Dotfiles/Apps/Nano/colortest.nanorc"
include "~/Dotfiles/Apps/Nano/conf.nanorc"
include "~/Dotfiles/Apps/Nano/csharp.nanorc"
include "~/Dotfiles/Apps/Nano/css.nanorc"
include "~/Dotfiles/Apps/Nano/cython.nanorc"
include "~/Dotfiles/Apps/Nano/dot.nanorc"
include "~/Dotfiles/Apps/Nano/dotenv.nanorc"
include "~/Dotfiles/Apps/Nano/email.nanorc"
include "~/Dotfiles/Apps/Nano/Dockerfile.nanorc"
include "~/Dotfiles/Apps/Nano/etc-hosts.nanorc"
include "~/Dotfiles/Apps/Nano/fish.nanorc"
include "~/Dotfiles/Apps/Nano/fortran.nanorc"
include "~/Dotfiles/Apps/Nano/gentoo.nanorc"
include "~/Dotfiles/Apps/Nano/git.nanorc"
include "~/Dotfiles/Apps/Nano/gitcommit.nanorc"
include "~/Dotfiles/Apps/Nano/glsl.nanorc"
include "~/Dotfiles/Apps/Nano/go.nanorc"
include "~/Dotfiles/Apps/Nano/groff.nanorc"
include "~/Dotfiles/Apps/Nano/haml.nanorc"
include "~/Dotfiles/Apps/Nano/haskell.nanorc"
include "~/Dotfiles/Apps/Nano/html.nanorc"
include "~/Dotfiles/Apps/Nano/html.j2.nanorc"
include "~/Dotfiles/Apps/Nano/ical.nanorc"
include "~/Dotfiles/Apps/Nano/ini.nanorc"
include "~/Dotfiles/Apps/Nano/inputrc.nanorc"
include "~/Dotfiles/Apps/Nano/jade.nanorc"
include "~/Dotfiles/Apps/Nano/java.nanorc"
include "~/Dotfiles/Apps/Nano/javascript.nanorc"
include "~/Dotfiles/Apps/Nano/js.nanorc"
include "~/Dotfiles/Apps/Nano/json.nanorc"
include "~/Dotfiles/Apps/Nano/keymap.nanorc"
include "~/Dotfiles/Apps/Nano/kickstart.nanorc"
include "~/Dotfiles/Apps/Nano/ledger.nanorc"
include "~/Dotfiles/Apps/Nano/lisp.nanorc"
include "~/Dotfiles/Apps/Nano/lua.nanorc"
include "~/Dotfiles/Apps/Nano/makefile.nanorc"
include "~/Dotfiles/Apps/Nano/man.nanorc"
include "~/Dotfiles/Apps/Nano/markdown.nanorc"
include "~/Dotfiles/Apps/Nano/mpdconf.nanorc"
include "~/Dotfiles/Apps/Nano/mutt.nanorc"
include "~/Dotfiles/Apps/Nano/nanorc.nanorc"
include "~/Dotfiles/Apps/Nano/nginx.nanorc"
include "~/Dotfiles/Apps/Nano/nmap.nanorc"
include "~/Dotfiles/Apps/Nano/ocaml.nanorc"
include "~/Dotfiles/Apps/Nano/patch.nanorc"
include "~/Dotfiles/Apps/Nano/peg.nanorc"
include "~/Dotfiles/Apps/Nano/perl.nanorc"
include "~/Dotfiles/Apps/Nano/perl6.nanorc"
include "~/Dotfiles/Apps/Nano/php.nanorc"
include "~/Dotfiles/Apps/Nano/pkg-config.nanorc"
include "~/Dotfiles/Apps/Nano/pkgbuild.nanorc"
include "~/Dotfiles/Apps/Nano/po.nanorc"
include "~/Dotfiles/Apps/Nano/pov.nanorc"
include "~/Dotfiles/Apps/Nano/privoxy.nanorc"
include "~/Dotfiles/Apps/Nano/puppet.nanorc"
include "~/Dotfiles/Apps/Nano/pug.nanorc"
include "~/Dotfiles/Apps/Nano/python.nanorc"
include "~/Dotfiles/Apps/Nano/reST.nanorc"
include "~/Dotfiles/Apps/Nano/rpmspec.nanorc"
include "~/Dotfiles/Apps/Nano/ruby.nanorc"
include "~/Dotfiles/Apps/Nano/rust.nanorc"
include "~/Dotfiles/Apps/Nano/scala.nanorc"
include "~/Dotfiles/Apps/Nano/sed.nanorc"
include "~/Dotfiles/Apps/Nano/sh.nanorc"
include "~/Dotfiles/Apps/Nano/sls.nanorc"
include "~/Dotfiles/Apps/Nano/sql.nanorc"
include "~/Dotfiles/Apps/Nano/svn.nanorc"
include "~/Dotfiles/Apps/Nano/swift.nanorc"
include "~/Dotfiles/Apps/Nano/systemd.nanorc"
include "~/Dotfiles/Apps/Nano/tcl.nanorc"
include "~/Dotfiles/Apps/Nano/tex.nanorc"
include "~/Dotfiles/Apps/Nano/vala.nanorc"
include "~/Dotfiles/Apps/Nano/verilog.nanorc"
include "~/Dotfiles/Apps/Nano/vi.nanorc"
include "~/Dotfiles/Apps/Nano/xml.nanorc"
include "~/Dotfiles/Apps/Nano/xresources.nanorc"
include "~/Dotfiles/Apps/Nano/yaml.nanorc"
include "~/Dotfiles/Apps/Nano/yum.nanorc"
include "~/Dotfiles/Apps/Nano/zsh.nanorc"
