# Why use YAML to manage plugins?
# See: http://genkisugimoto.com/blog/manage-vim-plugins-via-yaml/
# Or don't because it now 404's and I don't know where to find it again ¯\_(ツ)_/¯
# There were good reasons there. Just take my word for it.

# Core Plugins {{{

# Status line
- repo: glepnir/galaxyline.nvim
  hook_post_source: luafile $VIM_PATH/core/plugins/galaxyline.lua

# Save/restore a bunch of settings in each file
- repo: vim-scripts/restore_view.vim

- repo: tpope/vim-obsession

# Enhance terminal compatibility (especially w/ tmux)
- repo: wincent/terminus

# Better search with /
- repo: junegunn/vim-pseudocl
- repo: junegunn/vim-oblique
# }}}

# Visual {{{
# Color scheme
- repo: rakr/vim-one

# Highlights CSS colors inline
- repo: ap/vim-css-color

# Highlight area being copied
- repo: machakann/vim-highlightedyank

# Close buffers without changing window layout
# - repo: moll/vim-bbye
#   rev: release

# Nice visual icons for filetypes and more
- repo: kyazdani42/nvim-web-devicons

# Smooth/fast scrolling with j/k keys
- repo: rhysd/accelerated-jk

# Visual overlay to quickly select a window
- repo: t9md/vim-choosewin
  hook_source: source $VIM_PATH/core/plugins/vim-choosewin.vim

# Fade text in inactive windows (while preserving syntax)
- repo: tadaa/vimade

# Tab management
- repo: romgrk/barbar.nvim
  hook_source: source $VIM_PATH/core/plugins/barbar.vim

# }}}

# File Explorer {{{
- repo: Shougo/defx.nvim
  do: ':UpdateRemotePlugins'
  hook_post_source: source $VIM_PATH/core/plugins/defx.vim
- repo: kristijanhusak/defx-git
- repo: kristijanhusak/defx-icons
# }}}

# Misc {{{
- repo: junegunn/vim-easy-align

- repo: godlygeek/tabular

- repo: yuttie/comfortable-motion.vim
  hook_post_source: |
    let g:comfortable_motion_no_default_key_mappings = 1
    let g:comfortable_motion_impulse_multiplier = 1

# Vim startuptime analysis (use with nvim +StartupTime)
- repo: dstein64/vim-startuptime
# }}}

# Navigation {{{

# Undo tree visualization
- repo: simnalamburt/vim-mundo

# Better repeating with period command
- repo: tpope/vim-repeat

# Pop-up cheatsheet for keyboard commands
- repo: liuchengxu/vim-which-key
  hook_source: source $VIM_PATH/core/plugins/whichkey.vim
  hook_post_source: |
    call which_key#register('<Space>', 'g:which_key_map')
    call which_key#register(';', 'g:which_key_localmap')
    call which_key#register(']', 'g:which_key_rsbgmap')
    call which_key#register('[', 'g:which_key_lsbgmap')

# Visual overlay to jump cursor to any part of screen
- repo: easymotion/vim-easymotion
  hook_post_source: |
        let g:EasyMotion_do_mapping = 0
        let g:EasyMotion_prompt = 'Jump to → '
        let g:EasyMotion_keys = 'asdfwevbnjklio'
        let g:EasyMotion_smartcase = 1
        let g:EasyMotion_use_smartsign_us = 1

# More control over what motions apply to (like word separators)
- repo: wellle/targets.vim
- repo: chaoren/vim-wordmotion
  hook_source: |
    let g:wordmotion_spaces = ['-', '_', '/', '.', ':', "'", '"', '=', '#', ',', '.', '<', '>', '(', ')', ';']
    let g:wordmotion_uppercase_spaces = [' ', '(', ')', '{', '}', ',', ';', '>', '<']

# Navigate windows in vim and tmux with the same keys
- repo: christoomey/vim-tmux-navigator
  hook_source: |
    let g:tmux_navigator_no_mappings = 1

# }}}

# FZF {{{
# Fantastic fuzzy finder
- repo: junegunn/fzf.vim
  depends: fzf
  hook_source: source $VIM_PATH/core/plugins/fzf.vim

# - repo: yuki-ycino/fzf-preview.vim
#   branch: release
#   do: ':UpdateRemotePlugins'

# }}}

# Versioning {{{

# Git integration
- repo: tpope/vim-fugitive

# Inline git blame while you type
- repo: apzelos/blamer.nvim
  hook_source: |
    let g:blamer_enabled = 0
    let g:blamer_delay = 250
    let g:blamer_prefix = ' > '
  # hook_post_source: |-
  #   call blamer#Enable()
  #   :BlamerToggle<CR>


# Git integration
- repo: chemzqm/vim-easygit
  hook_source: let g:easygit_enable_command = 1

# Status markers in gutter
- repo: airblade/vim-gitgutter
  hook_source: source $VIM_PATH/core/plugins/vim-gitgutter.vim

- repo: rhysd/committia.vim
# }}}

# Languages {{{

- repo: honza/dockerfile.vim

- repo: junegunn/vim-emoji

- repo: Vimjas/vim-python-pep8-indent

- repo: vim-python/python-syntax
  hook_source: let g:python_highlight_all = 1

- repo: neoclide/vim-jsx-improve

- repo: vim-scripts/xml.vim

- repo: pearofducks/ansible-vim

- repo: cespare/vim-toml

- repo: elzr/vim-json
  hook_source: let g:vim_json_syntax_conceal = 0

- repo: dearrrfish/vim-applescript

- repo: tpope/vim-cucumber

- repo: fatih/vim-go
  hook_source: source $VIM_PATH/core/plugins/vim-go.vim

- repo: tmux-plugins/vim-tmux

# }}}

# Coding {{{
# Commenting
- repo: tyru/caw.vim

# Auto formatting files by syntax
- repo: sbdchd/neoformat
  hook_source: source $VIM_PATH/core/plugins/neoformat.vim

# Display thin vertical lines at each indentation level
- repo: Yggdroot/indentLine
  hook_source: source $VIM_PATH/core/plugins/indentline.vim

# LSP support for tags
- repo: liuchengxu/vista.vim
  hook_source: source $VIM_PATH/core/plugins/vista.vim

# Parens matchings
- repo: luochen1990/rainbow
  hook_source: source $VIM_PATH/core/plugins/rainbow.vim

# Matching various braces
- repo: andymass/vim-matchup

# Support editorconfig files in projects
- repo: editorconfig/editorconfig-vim

# Show function signature
- repo: Shougo/echodoc.vim
  hook_source: |
    let g:echodoc#enable_at_startup = 1
    " let g:echodoc#type = "virtual"
    let g:echodoc#type = 'floating'
    highlight link EchoDocFloat Pmenu

# Search documentation (also works offline)
- repo: sunaku/vim-dasht
  hook_source: |
    let g:dasht_filetype_docsets = {} " filetype => list of docset name regexp "
    let g:dasht_filetype_docsets['html'] = ['css', 'js', 'bootstrap']

# Completion engine
- repo: ycm-core/YouCompleteMe
  do: ./install.py --all
  hook_source: |
    let g:ycm_disable_for_files_larger_than_kb = 10000

# Async linting engine
# - repo: dense-analysis/ale
#   hook_source: source ~/.config/nvim/core/plugins/vim-ale.vim

# Turn statements into one-line or multi-line expressions
- repo: AndrewRadev/splitjoin.vim

# Operations on matching charcs (e.g. parens, brackets, etc)
- repo: machakann/vim-sandwich

# Multiple cursors
- repo: mg979/vim-visual-multi

- repo: lfv89/vim-interestingwords
  hook_source: source $VIM_PATH/core/plugins/interestingwords.vim

# }}}

# Productivity {{{

# Toggle markdown checkboxes
- repo: jkramer/vim-checkbox
  hook_source: |
    let g:insert_checkbox_prefix = '- '
    let g:insert_checkbox_suffix = ' '

# }}}

# Writing {{{
- repo: iamcco/markdown-preview.nvim
  do: ':call mkdp#util#install()'
  hook_source: |
    let g:mkdp_auto_start = 0
    let g:mkdp_command_for_global = 1

# - repo: junegunn/goyo.vim
#   hook_source: source  $VIM_PATH/core/plugins/goyo.vim
#
# - repo: junegunn/Limelight.vim
# }}}

