- name: Clone asdf repository
  git:
    repo: https://github.com/asdf-vm/asdf.git
    dest: "{{ home }}/.local/opt/asdf-vm"
    version: v0.10.2

- include_tasks: "{{ dotfiles_home }}/roles/asdf/tasks/mac.yaml"
  when: ansible_os_family == "Darwin"

- include_tasks: "{{ dotfiles_home }}/roles/asdf/tasks/linux.yaml"
  when: ansible_os_family == "Debian"

- file:
    src: "{{ dotfiles_home }}/roles/asdf/files/env"
    dest: "{{ config_home }}/env/asdf.env.sh"
    state: link

- name: Create config dir
  file:
    path: "{{ config_home }}/asdf"
    state: directory

- name: Link ~/.tool-versions file for asdf
  file:
    src: "{{ dotfiles_home }}/roles/asdf/files/tool-versions"
    dest: "{{ home }}/.tool-versions"
    state: link

# cut -d' ' -f1 ~/.tool-versions | xargs -I% asdf plugin add %
