- name: Ensure ZDOTDIR is defined in global zshenv
  loop:
    - /etc/zshenv
    - /etc/zsh/zshenv
  lineinfile:
    path: "{{ item }}"
    line: ZDOTDIR="${HOME}/.config/zsh"
    state: present
    create: yes
  become: true

- name: Remove ~/.zshrc if present
  file:
    path: "{{ home }}/.zshrc"
    state: absent

- name: Create config dirs
  file:
    path: "{{ config_home }}/zsh"
    state: directory

- name: Create main dirs
  # zsh crashes without these (it's very annoying)
  loop:
    - "{{ data_home }}"
    - "{{ cache_home }}"
  file:
    path: "{{ item }}/zsh"
    state: directory

- name: Link main z-shell config file
  file:
    src: "{{ dotfiles_home }}/roles/zsh/files/_main.sh"
    dest: "{{ config_home }}/zsh/.zshrc"
    state: link

- file:
    src: "{{ dotfiles_home }}/roles/zsh/files/config/logout.sh"
    dest: "{{ config_home }}/zsh/.zlogout"
    state: link

- file:
    src: "{{ dotfiles_home }}/roles/zsh/files/motd.png"
    dest: "{{ config_home }}/zsh/motd.png"
    state: link

- name: Link other z-shell config files
  loop:
    - aliases
    - completion
    - env
    - keymap
    - motd
    - path
    - plugins
    - prompt
    - options
    - theme
    - xdg
  file:
    src: "{{ dotfiles_home }}/roles/zsh/files/config/{{ item }}.sh"
    dest: "{{ config_home }}/zsh/{{ item }}"
    state: link

- file:
    src: "{{ dotfiles_home }}/roles/zsh/files/env"
    dest: "{{ config_home }}/env/00_zsh.env.sh"
    state: link

- file:
    src: "{{ dotfiles_home }}/roles/zsh/files/functions"
    dest: "{{ config_home }}/zsh/functions"
    state: link
