- name: Install git & friends
  loop:
    - git
    - git-extras
    - git-filter-repo
    - git-lfs
    - libimage-exiftool-perl
    - imagemagick
    - libterm-readkey-perl
  apt:
    name: "{{ item }}"
    state: present
  become: yes

- name: Install from homebrew
  homebrew:
    name:
      - diff-so-fancy
      # - viu
    state: present
    update_homebrew: false

- name: Create config dir
  file:
    path: "{{ config_home }}/git"
    state: directory

- name: Link main git config file
  file:
    src: "{{ dotfiles_home }}/roles/git/files/_main"
    dest: "{{ config_home }}/git/config"
    state: link
    force: yes

- name: Link other git config files
  loop:
    - aliases
    - allowed-signers
    - attributes
    - color
    - core
    - diff-and-merge
    - format
    - ignore
    - lfs
    - mailmap
    - sign
  file:
    src: "{{ dotfiles_home }}/roles/git/files/{{ item }}"
    dest: "{{ config_home }}/git/{{ item }}"
    state: link
    force: yes

- name: Update config file with user info
  template:
    src: user.j2
    dest: "{{ config_home }}/git/user"

