<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.flowapp.Flow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>02E54966-C262-4717-A736-0B1929C68029</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38B3E11D-3C41-4D6E-95E9-2A737CC8D999</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13F8F42D-16F6-48DE-BCAA-D63977BE880A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DDB7F7E-7FF0-474D-8307-9D2836D6DDC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1501B2A0-E71F-4887-B5B7-A225C1FF4EBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0D507CC-67E4-47FA-B02F-B070013DA827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1710AADB-4C04-4CD1-9938-6F48B135F9FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>887BBA6D-1D06-4FBB-B360-B80577E22A1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19A330D3-FA14-4817-996F-2D63EFEF168E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38B3E11D-3C41-4D6E-95E9-2A737CC8D999</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2189A7C4-E439-4358-B9FA-6CB7A29F6A9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4086B7E2-74BA-4A55-BE1A-91D49B1BF3EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E354A2B-1731-47B0-94A0-684A46BB920F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13F8F42D-16F6-48DE-BCAA-D63977BE880A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33E84A2E-6BF1-4E16-B6AC-0DC824EA4128</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA22E5D2-AB08-4B54-A37F-4E3CE7506FDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F374EDE-D476-44AD-BAC7-04833E9047AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>887BBA6D-1D06-4FBB-B360-B80577E22A1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4086B7E2-74BA-4A55-BE1A-91D49B1BF3EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5879C1D-92F6-42ED-BDE3-F360CAE4CDB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>542740E6-3F3B-48A0-A668-C86C057B47EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99695770-FD15-46F0-8C3A-79E77E9AF460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60559B0E-AD46-4629-9A6C-6E3F5EFC269D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA22E5D2-AB08-4B54-A37F-4E3CE7506FDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62CF2333-D4BB-451A-95F7-45493DD2F81C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99695770-FD15-46F0-8C3A-79E77E9AF460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79B79A53-D7AB-4805-A1D1-4F7F1A75315C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24567DB9-00FC-405E-878C-B0C0C3D69F5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>831F3B43-D912-446A-9BF1-74292DEC6B68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4086B7E2-74BA-4A55-BE1A-91D49B1BF3EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97521919-E43E-4912-A244-0CB5BF75A8CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F186B036-C14D-458A-BA54-30D6EFA44B42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CB2FC95-7928-4728-A3CE-0A0EA97BFC56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F186B036-C14D-458A-BA54-30D6EFA44B42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DB4760B-B887-47BA-A1DF-360DBBEE27EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13F8F42D-16F6-48DE-BCAA-D63977BE880A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A54F2832-48C3-42A6-AEE6-B01DD2E4190F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0D507CC-67E4-47FA-B02F-B070013DA827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6386223-16F5-4921-A20D-C71D687E26E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93820BF0-61A2-4AFF-840B-B6CEC84F2DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C75E31C4-7D02-4819-A268-0329CF46783A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BE012DE-01A9-48FD-A554-331C1E768A2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E69CADAB-DE32-4119-B4C9-3F86CEFD7F04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BE012DE-01A9-48FD-A554-331C1E768A2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6DB3EE2-959F-4D7A-9839-B00EEFB56B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24567DB9-00FC-405E-878C-B0C0C3D69F5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA9D8BA6-C900-4B8A-BAC1-238E85D083E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93820BF0-61A2-4AFF-840B-B6CEC84F2DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yugen</string>
	<key>description</key>
	<string>This workflow controls the minimalistic pomodoro timer app called Flow from the Mac App Store.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow start</string>
				<key>subtext</key>
				<string>Start new or resume current session</string>
				<key>text</key>
				<string>Start</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E69CADAB-DE32-4119-B4C9-3F86CEFD7F04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	start
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BE012DE-01A9-48FD-A554-331C1E768A2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>start</string>
				<key>subtext</key>
				<string>Start new or resume current session</string>
				<key>text</key>
				<string>Start</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C75E31C4-7D02-4819-A268-0329CF46783A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow stop</string>
				<key>subtext</key>
				<string>Pause current session</string>
				<key>text</key>
				<string>Stop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CB2FC95-7928-4728-A3CE-0A0EA97BFC56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	stop
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F186B036-C14D-458A-BA54-30D6EFA44B42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>stop</string>
				<key>subtext</key>
				<string>Pause current session</string>
				<key>text</key>
				<string>Stop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>97521919-E43E-4912-A244-0CB5BF75A8CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow skip</string>
				<key>subtext</key>
				<string>Skip current session</string>
				<key>text</key>
				<string>Skip</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33E84A2E-6BF1-4E16-B6AC-0DC824EA4128</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	skip
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA22E5D2-AB08-4B54-A37F-4E3CE7506FDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>skip</string>
				<key>subtext</key>
				<string>Skip current session</string>
				<key>text</key>
				<string>Skip</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60559B0E-AD46-4629-9A6C-6E3F5EFC269D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow previous</string>
				<key>subtext</key>
				<string>Go back a session (PRO-only)</string>
				<key>text</key>
				<string>Previous</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>542740E6-3F3B-48A0-A668-C86C057B47EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	previous
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99695770-FD15-46F0-8C3A-79E77E9AF460</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>previous</string>
				<key>subtext</key>
				<string>Go back a session (PRO-only)</string>
				<key>text</key>
				<string>Previous</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62CF2333-D4BB-451A-95F7-45493DD2F81C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow reset</string>
				<key>subtext</key>
				<string>Start new session cycle</string>
				<key>text</key>
				<string>Reset</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6DB3EE2-959F-4D7A-9839-B00EEFB56B6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	reset
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24567DB9-00FC-405E-878C-B0C0C3D69F5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>reset</string>
				<key>subtext</key>
				<string>Start new session cycle</string>
				<key>text</key>
				<string>Reset</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79B79A53-D7AB-4805-A1D1-4F7F1A75315C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow show</string>
				<key>subtext</key>
				<string>Show app window</string>
				<key>text</key>
				<string>Show</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1501B2A0-E71F-4887-B5B7-A225C1FF4EBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	show
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0D507CC-67E4-47FA-B02F-B070013DA827</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>show</string>
				<key>subtext</key>
				<string>Show app window</string>
				<key>text</key>
				<string>Show</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A54F2832-48C3-42A6-AEE6-B01DD2E4190F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow hide</string>
				<key>subtext</key>
				<string>Hide app window</string>
				<key>text</key>
				<string>Hide</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F374EDE-D476-44AD-BAC7-04833E9047AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	hide
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>887BBA6D-1D06-4FBB-B360-B80577E22A1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hide flow</string>
				<key>subtext</key>
				<string>Hide app window</string>
				<key>text</key>
				<string>Hide</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1710AADB-4C04-4CD1-9938-6F48B135F9FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow launch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Launch</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>02E54966-C262-4717-A736-0B1929C68029</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Flow" to launch
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>38B3E11D-3C41-4D6E-95E9-2A737CC8D999</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>launch flow</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Launch Flow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19A330D3-FA14-4817-996F-2D63EFEF168E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow quit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Quit</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA9D8BA6-C900-4B8A-BAC1-238E85D083E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Flow" to quit
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>93820BF0-61A2-4AFF-840B-B6CEC84F2DBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>quit flow</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Quit Flow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C6386223-16F5-4921-A20D-C71D687E26E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow get phase</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get current timer phase</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2189A7C4-E439-4358-B9FA-6CB7A29F6A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>D5879C1D-92F6-42ED-BDE3-F360CAE4CDB0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	getPhase
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4086B7E2-74BA-4A55-BE1A-91D49B1BF3EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>get phase flow</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get current timer phase</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>831F3B43-D912-446A-9BF1-74292DEC6B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flow get time</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get remaining time</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E354A2B-1731-47B0-94A0-684A46BB920F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>2DDB7F7E-7FF0-474D-8307-9D2836D6DDC0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Flow"
	launch
	getTime
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13F8F42D-16F6-48DE-BCAA-D63977BE880A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>get time flow</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get remaining time</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9DB4760B-B887-47BA-A1DF-360DBBEE27EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow works with our pomodoro app Flow available for free on the Mac App Store.

Website: www.flowapp.info
App Store: https://apps.apple.com/app/id1423210932</string>
	<key>uidata</key>
	<dict>
		<key>02E54966-C262-4717-A736-0B1929C68029</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1710</integer>
		</dict>
		<key>13F8F42D-16F6-48DE-BCAA-D63977BE880A</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>2520</integer>
		</dict>
		<key>1501B2A0-E71F-4887-B5B7-A225C1FF4EBD</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>1710AADB-4C04-4CD1-9938-6F48B135F9FA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1575</integer>
		</dict>
		<key>19A330D3-FA14-4817-996F-2D63EFEF168E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1820</integer>
		</dict>
		<key>2189A7C4-E439-4358-B9FA-6CB7A29F6A9C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>2210</integer>
		</dict>
		<key>24567DB9-00FC-405E-878C-B0C0C3D69F5C</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>2DDB7F7E-7FF0-474D-8307-9D2836D6DDC0</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>2520</integer>
		</dict>
		<key>2E354A2B-1731-47B0-94A0-684A46BB920F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>2465</integer>
		</dict>
		<key>33E84A2E-6BF1-4E16-B6AC-0DC824EA4128</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>38B3E11D-3C41-4D6E-95E9-2A737CC8D999</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1765</integer>
		</dict>
		<key>3F374EDE-D476-44AD-BAC7-04833E9047AA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1470</integer>
		</dict>
		<key>4086B7E2-74BA-4A55-BE1A-91D49B1BF3EE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>2265</integer>
		</dict>
		<key>542740E6-3F3B-48A0-A668-C86C057B47EF</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>60559B0E-AD46-4629-9A6C-6E3F5EFC269D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>62CF2333-D4BB-451A-95F7-45493DD2F81C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>79B79A53-D7AB-4805-A1D1-4F7F1A75315C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1095</integer>
		</dict>
		<key>7BE012DE-01A9-48FD-A554-331C1E768A2F</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>831F3B43-D912-446A-9BF1-74292DEC6B68</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>2320</integer>
		</dict>
		<key>887BBA6D-1D06-4FBB-B360-B80577E22A1C</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1525</integer>
		</dict>
		<key>93820BF0-61A2-4AFF-840B-B6CEC84F2DBE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>2015</integer>
		</dict>
		<key>97521919-E43E-4912-A244-0CB5BF75A8CA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>99695770-FD15-46F0-8C3A-79E77E9AF460</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>9CB2FC95-7928-4728-A3CE-0A0EA97BFC56</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>9DB4760B-B887-47BA-A1DF-360DBBEE27EA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>2575</integer>
		</dict>
		<key>A0D507CC-67E4-47FA-B02F-B070013DA827</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1285</integer>
		</dict>
		<key>A54F2832-48C3-42A6-AEE6-B01DD2E4190F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1335</integer>
		</dict>
		<key>AA22E5D2-AB08-4B54-A37F-4E3CE7506FDD</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>C6386223-16F5-4921-A20D-C71D687E26E2</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>2070</integer>
		</dict>
		<key>C75E31C4-7D02-4819-A268-0329CF46783A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>D5879C1D-92F6-42ED-BDE3-F360CAE4CDB0</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>2265</integer>
		</dict>
		<key>E69CADAB-DE32-4119-B4C9-3F86CEFD7F04</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E6DB3EE2-959F-4D7A-9839-B00EEFB56B6D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>EA9D8BA6-C900-4B8A-BAC1-238E85D083E4</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1960</integer>
		</dict>
		<key>F186B036-C14D-458A-BA54-30D6EFA44B42</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://flowapp.info</string>
</dict>
</plist>
