- create:
    - ~/.config/zsh

- link:
    ~/.config/zsh/.zlogout: logout
    ~/.config/zsh/.zshrc: _init
    ~/.config/zsh:
        force: true
        glob: true
        path: '*'
        exclude:
          - install.conf.yaml
          - logout
          - _init

- shell:
    - description: Zsh setup
      quiet: true
      command: |-
        if [[ -z "$ZDOTDIR" ]]; then
          printf "\n\nInstall dotfiles to /etc/zshenv (requires sudo)? [y/N]: "
          if read; then
            sudo sh -c "echo ZDOTDIR='${HOME}/.config/zsh' >> /etc/zshenv"
          fi
        fi

    - description: Extra file
      quiet: true
      command: touch ${ZDOTDIR:-$HOME/.config/zsh}/extra
