- brew:
    # various linters that require global installation
    - actionlint
    - alexjs
    - black
    - gitlint
    - prettier
    - shellcheck

- shell:
    - description: Checking Neovim installation
      command: |-
        latest_version=$(curl -fLs https://api.github.com/repos/neovim/neovim/releases/latest | jq -r '.name')

        if command -v nvim &> /dev/null; then
            installed_version="$(nvim --version | head -1 | perl -pe 's/NVIM/Nvim/')"

            if [[ $installed_version =~ "${current_version}-.*" ]]; then
                echo "Neovim already installed and at latest version"
                exit 0
            fi

            echo "Neovim upgrade available!"
            echo "Installed: $installed_version"
            echo "Latest:    $latest_version"
            echo
        fi

        echo "Downloading ${latest_version}..."
        my_dir="$(mktemp -d)"
        cd $my_dir
        my_file='nvim-macos.tar.gz'
        my_url="https://github.com/neovim/neovim/releases/download/stable/${my_file}"

        curl -fLsO $my_url
        shasum --check <(curl -Ls ${my_url}.sha256sum)
        tar xzf $my_file

        my_target='/usr/local/share/nvim/stable'
        mkdir -p $my_target
        my_version="$(nvim-macos/bin/nvim --version | head -1 | sed 's/^NVIM //gi')"

        rm -f "${my_target}/latest"
        ln -sf "${my_target}/${my_version}" "${my_target}/latest"
        if  [[ -d "${my_target}/${my_version}" ]];  then
          echo "Already have ${my_version}. Skipping..."
          exit 0
        fi

        mv -v nvim-macos "${my_target}/${my_version}"

- link:
    /usr/local/bin/nvim: /usr/local/share/nvim/stable/latest/bin/nvim

- create:
    - ~/.config/lvim

- link:
    ~/.config/lvim:
        glob: true
        path: '*'
        exclude:
          - bundle-config.yaml
          - dictionaries

    ~/.local/share/nvim/spell/custom.en.utf-8.add: dictionaries/en.dict
    ~/.local/share/nvim/spell/custom.es.utf-8.add: dictionaries/es.dict

- shell:
    - description: Installing/updating Lunar vim
      command: |-
        if command -v lvim &> /dev/null; then
          echo "LunarVim already installed."
          print -P "%F{4}Updating LunarVim (via :LvimUpdate)%f"
          $EDITOR --headless +LvimUpdate +quitall
          exit $?
        fi

        expect -- <(cat << 'EOF'
        #!/usr/bin/env expect
        set timeout -1
        spawn /bin/bash
        send -- "/bin/bash <(/usr/bin/curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/master/utils/installer/install.sh)\n"
        expect "Would you like to install LunarVim's NodeJS dependencies?"
        send -- "y\n"
        expect "Would you like to install LunarVim's Python dependencies?"
        send -- "y\n"
        expect "Would you like to install LunarVim's Rust dependencies?"
        send -- "y\n"
        expect "Thank you for installing LunarVim!!"
        send -- "exit\n"
        expect eof"
        EOF
        )

    - description: Installing & updating plugins (via Packer)
      command: |-
        print -P "%F{4}Updating Neovim plugins (via :PackerSync)%f"
        $EDITOR +'autocmd User PackerComplete quitall' +PackerSync
