- name: Check if 1password is installed
  check_mode: yes
  stat:
    path: /bin/1password
  register: bin_1password

- name: Install 1password
  apt:
    deb: https://downloads.1password.com/linux/debian/amd64/stable/1password-latest.deb
    state: present
  become: true
  when: not bin_1password.stat.exists

