# - name: Add neovim stable repo
# apt_repository:
#   repo: ppa:neovim-ppa/stable

- name: Install neovim & friends
  apt:
    name: neovim
    state: latest
    update_cache: yes
  become: yes

- name: Creates directory
  file:
    path: "{{ config_home }}/lvim"
    state: directory

- name: Link main git config file
  file:
    src: "{{ dotfiles_home }}/roles/neovim/files/_main.lua"
    dest: "{{ config_home }}/lvim/config.lua"
    state: link
    force: yes

- name: Link neovim config directory
  file:
    src: "{{ dotfiles_home }}/roles/neovim/files/config"
    dest: "{{ config_home }}/lvim/lua"
    state: link
    force: yes
