- import_tasks: mac.yaml
  when: ansible_os_family == "Darwin"

- import_tasks: linux.yaml
  when: ansible_os_family == "Debian"

- name: Creates directory
  loop:
    - lvim
    - nvim
  file:
    path: "{{ config_home }}/{{ item }}"
    state: directory

- name: Link main git config file
  file:
    src: "{{ dotfiles_home }}/roles/neovim/files/_main.lua"
    dest: "{{ config_home }}/lvim/config.lua"
    state: link
    force: yes

- name: Link basic git config file
  file:
    src: "{{ dotfiles_home }}/roles/neovim/files/basic.lua"
    dest: "{{ config_home }}/nvim/init.lua"
    state: link
    force: yes

- name: Link neovim config dirs
  loop:
    - lvim
    - nvim
  file:
    src: "{{ dotfiles_home }}/roles/neovim/files/config"
    dest: "{{ config_home }}/{{ item }}/lua"
    state: link
    force: yes
